 /* Page background */
    html, body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }

    body {
      background-color: #f7dded;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Arial, sans-serif;
      overflow: hidden;
    }

    /* Game container */
    #game-container {
      width: 1024px;
      height: 768px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
      background: #000;
      transform: scale(var(--scale));
      transform-origin: center;
    }

    /* FONTS */

@font-face {
    font-family: 'Biro Script Plus';
    src: url('../assets/fonts/biro-script/BiroScriptPlus-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Biro Script Plus';
    src: url('../assets/fonts/biro-script/BiroScriptPlus.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


